{% extends "base_admin.html.twig" %}

{% block body %}
<body class="ttr-opened-sidebar ttr-pinned-sidebar">
{% include "partials/header_admin.html.twig" %}
{% include "partials/navigation_panel.html.twig" %}
<main class="ttr-wrapper">

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Eya/Desktop/GestionProduits/src/Controller/ProduitApiController.php'|file_link(0) }}">src/Controller/ProduitApiController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Eya/Desktop/GestionProduits/templates/produit_api/index.html.twig'|file_link(0) }}">templates/produit_api/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
