{% extends "base_admin.html.twig" %}

{% block body %}
<body class="ttr-opened-sidebar ttr-pinned-sidebar">
{% include "partials/header_admin.html.twig" %}
{% include "partials/navigation_panel.html.twig" %}
<main class="ttr-wrapper">
    {{ include('document/_form.html.twig') }}

    <a href="{{ path('app_document_index') }}"><button class="btn">Back To List</button></a>





{% endblock %}